/* Remove the "sort" icon */
.quick-download-header::after {
    content: none !important;
}

/* YGG will make the second column big (for title), but sometimes our icon could be first ! */
.quick-download-item {
    max-width: 20px;
    width: auto !important;
}


